<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mantaray Social Surf Forecast - Map</title>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
</head>
<body>
    <div id="map"></div>
    <div id="coords">Click on the map to get the coordinates.</div>
    <div id="login-status">
        {% if current_user.is_authenticated %}
            Logged in as {{ current_user.username }}.
            <a href="{{ url_for('logout') }}" id="logout-button" style="background-color: #004d40; color: white; padding: 10px; border-radius: 5px; cursor: pointer; font-size: 18px; text-decoration: none;">Logout</a>
        {% else %}
            You are not logged in.
        {% endif %}
    </div>
    <div class="toggle-switch-container">
        <div class="toggle-switch">
            <span class="switch-label">Coastline Outline</span>
            <label class="switch">
                <input type="checkbox" id="toggle-coastline">
                <span class="slider"></span>
            </label>
        </div>
    </div>
    <div id="get-surf-report-container">
        <button id="get-surf-report">Get Surf Report</button>
    </div>
    <div id="coastline-info">
        <button id="close-coastline-info" class="close-btn">X</button>
        <h2>Closest Coastline Information</h2>
        <p id="coastline-coords"></p>
        <p id="additional-info"></p>
    
        <h2>Forecast</h2>
        <div class="chart-container">
            <canvas id="waveHeightChart"></canvas>
            <canvas id="tideChart"></canvas>
        </div>
    
        <div id="compass-wind-container">
            <div class="compass-section">
                <h3>Wind</h3>
                <div id="compass-wind">
                    <div id="arrow"></div>
                    <div id="cardinals">
                        <div id="n">N</div>
                        <div id="e">E</div>
                        <div id="s">S</div>
                        <div id="w">W</div>
                    </div>
                    <div class="line horizontal-line"></div>
                    <div class="line vertical-line"></div>
                </div>
                <div id="wind-metrics">
                    <div id="wind-speed">Speed: N/A m/s</div>
                    <div id="wind-direction">Direction: N/A°</div>
                </div>
            </div>
    
            <div class="compass-section">
                <h3>Swell</h3>
                <div id="compass-swell">
                    <div id="swell-arrow"></div>
                    <div id="cardinals">
                        <div id="n">N</div>
                        <div id="e">E</div>
                        <div id="s">S</div>
                        <div id="w">W</div>
                    </div>
                    <div class="line horizontal-line"></div>
                    <div class="line vertical-line"></div>
                </div>
                <div id="swell-metrics">
                    <div id="swell-height">Height: N/A m</div>
                    <div id="swell-direction">Direction: N/A°</div>
                </div>
            </div>
        </div>
    
        <div id="slider-container">
            <input id="slider" type="range" min="0" step="1" value="0">
            <div id="time-day-date"></div>
        </div>
    </div>

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js'></script>
    <script src='https://unpkg.com/@turf/turf/turf.min.js'></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
</body>
</html>
