<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Mantaray Social Surf Forecast</title>
    <link rel="stylesheet" href="/static/css/sign_up.css"> <!-- Link to the new CSS file -->
</head>
<body>
    <div class="background-image"></div>
    <div class="overlay">
        <h1>Sign Up for Mantaray Social Surf Forecast</h1>
        <div class="form-container">
            <form action="/signup" method="POST">
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username" class="input" required><br>

                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" class="input" required><br>

                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" class="input" required><br>

                <input type="submit" class="button" value="Sign Up">
            </form>
            <a href="/login" class="button">Already have an account? Login</a>
            <a href="/" class="button">Return to Home</a>
        </div>
    </div>
</body>
</html>
